* {
    margin: 0;
    top: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-left: 15rem;
    margin-right: 15rem;
}

.konvers-judul {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.form-convert, .result-convertion, .how-convert {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 30rem;
    gap: 12px;
}

.selection-convert {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.explenation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.explenation-heading{
    margin-top: 30px;
}

span{
    font-size: xx-large;
    font-style: italic;
}